
<div class="naviation">
  <%= page_entries_info @products %>
  <span class="pager"><%= will_paginate @products, :container => false %></span>
</div>

<div class="products">
  <% @products.each do |product| -%>
    <%= div_for product do %>
      <%= placeholder 125 %>
      <div class="name">
        <%= product.brand.name %>
        <%= product.name %>
      </div>
      <div class="price">
        <%= number_to_currency product.price %>
        <% if product.best_coupon.present? -%>
          <span class="discount">
            + <%= number_to_currency product.best_coupon.discount %> Off!
          </span>
        <% end -%>
      </div>
    <% end -%>
  <% end -%>
</div>
