
<div class="naviation">
  <%= page_entries_info @products %>
  <span class="pager"><%= will_paginate @products, :container => false %></span>
</div>

<div class="products">
  <% @products.each do |product| -%>
    <%= div_for product do %>
      <%= placeholder 125, :text => product.name %>
      <span class="brand"><%= product.brand.name %></span>
      <span class="name"><%= product.name %></span>
      <span class="price">
        <%= number_to_currency product.price %>
      </span>
      <% if product.best_coupon.present? -%>
        <span class="discount">
          + <%= number_to_currency product.best_coupon.discount %> Off!
        </span>
      <% end -%>
    <% end -%>
  <% end -%>
</div>
